<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>studyjsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tlds/el-functions.tld</taglib-uri>
      <taglib-location>
  		/WEB-INF/tlds/el-functions.tld
  	</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>myControl</servlet-name>
    <servlet-class>mvcmem.control.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myControl</servlet-name>
    <url-pattern>*.mdo</url-pattern>
  </servlet-mapping>
</web-app>